.error-page {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    background-color: rgba(167, 24, 49, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back-button {
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    width: 30vh;
}

.back-button:hover {
    background-color: #a71831;
    color: white;
}