html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../images/skyscraper.png') no-repeat center center/cover;
}

.header, .footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.header {
    background-color: #a71831; /* BU Red */
    color: white;
}

.footer {
    background-color: #2D2926; /* BU Black */
    color: darkgray;
    padding: 10px 0;
}

.header-topic {
    width: 100%;
    text-align: center;
    padding: 40px;
    color: white;
}

.header-section-parent {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: rgba(167, 24, 49, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.header-section-text {
    text-align: left;
    font-size: 150%;
}

.header-section-img {
    width: 30%;
    height: auto;
    background: url('../images/dollar.png') center center/contain;
}

.header-icon {
    width: 10%;
}

.header-logo, .footer-logo {
    height: auto;
    padding: 10px 0;
}

.header-logo {
    width: 300px;
}

.footer-logo {
    width: 500px;
}

.page-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-email {
    color: darkgray;
    text-decoration: none;
}

.header-section-button, .ideology-button {
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.2s;
}

.header-section-button {
    background-color: white;
    width: 30vh;
}

.header-section-button:hover, .ideology-button:hover {
    background-color: #a71831;
    color: white;
}

.header-section-button-box {
    padding-top: 20px;
    padding-bottom: 60px;
}

.ideology-section-one {
    display: flex;
    justify-content: space-around;
    padding: 80px 80px 20px 80px;
    flex-wrap: wrap;
}

.ideology-section-two {
    display: flex;
    justify-content: space-around;
    padding: 20px 80px 80px 80px;
    flex-wrap: wrap;
}

.ideology-section {
    display: flex;
    flex-direction: column;
}

.ideology-block {
    border-radius: 25px;
    background-color: rgba(167, 24, 49, 0.6);
    padding: 30px;
    width: 20%;
    text-align: center;
    margin: 40px;
}

.ideology-icon {
    width: 20%;
}

.ideology-block-header {
    color: white;
}

.ideology-block-list {
    text-align: center;
    padding-bottom: 30px;
    color: darkgray;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 30px;
    list-style-type: none;
}

h1, h2, h3 {
    padding: 20px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

@media (max-width: 2000px) {
    .header-logo, .footer-logo {
        width: 300px;
    }
    .header-section-button, .ideology-button {
        font-size: 20px;
    }
    h1 {
        font-size: 60px;
        padding: 10px;
    }
    h2 {
        font-size: 40px;
        padding: 10px;
    }
    h3 {
        font-size: 30px;
        padding: 10px;
    }
    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
    .ideology-icon {
        width: 10%;
    }
}

@media (max-width: 1500px) {
    .header-logo, .footer-logo {
        width: 300px;
    }
    .header-section-button, .ideology-button {
        width: 100%;
        font-size: 20px;
    }
    .ideology-block {
        width: 100%;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
    .ideology-icon {
        width: 10%;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 1000px) {
    .header-logo, .footer-logo {
        width: 300px;
    }
    .header-section-button, .ideology-button {
        width: 100%;
        font-size: 20px;
    }
    .ideology-block {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
    .ideology-icon {
        width: 10%;
    }
}

@media (max-width: 800px) {
    .header-section {
        width: 75%;
    }
    .header-section-img {
        width: 25%;
    }
}