/* Style for RangeSlider */
.rc-slider-rail,
.rc-slider-track,
.rc-slider-handle {
    background-color: #2a3f5f; /* Dark blue for the slider track */
    border-color: #2a3f5f;
}

.rc-slider-handle {
    border: solid 2px #48647c; /* Lighter blue for the handle border */
}

.rc-slider-dot {
    border-color: #2a3f5f;
}

/* Style for Dropdown */
.Select-control,
.Select-menu-outer {
    background-color: #2a3f5f !important; /* Dark blue background for dropdown */
    color: #ffffff !important; /* White text color for contrast */
}

/* Style for selected item in the dropdown */
.Select--single > .Select-control .Select-value,
.Select--single > .Select-control .Select-value .Select-value-label {
    color: #007BFF !important; /* Bright blue color for selected text */
}

.Select-menu-outer {
    border-color: #2a3f5f !important; /* Dark blue border for dropdown menu */
}

/* Style for selected item in the dropdown */
.Select--single > .Select-control .Select-value,
.Select--single > .Select-control .Select-value .Select-value-label {
    color: #007BFF !important; /* White color for visibility */
}

/* Dropdown menu item hover and focus states */
.Select-menu-outer .Select-option.is-focused,
.Select-menu-outer .Select-option.is-selected,
.Select-menu-outer .Select-option:hover {
    background-color: #48647c !important; /* Lighter blue for hover/focus */
    color: #007BFF !important; /* White text for readability */
}

/* Style for the dropdown arrow to ensure it's visible */
.Select-arrow-zone {
    fill: #007BFF !important; /* White arrow for contrast */
}

/* Tooltip Styles */
.tooltip-inner {
    background-color: #2a3f5f !important; /* Dark blue background for tooltips */
    color: #fff !important; /* White text color for contrast */
    font-size: 16px !important; /* Larger text for easier reading */
    border: 1px solid #48647c !important; /* Lighter blue border */
    padding: 10px 15px !important; /* More padding for a better text display */
    border-radius: 5px !important; /* Rounded corners for a smoother look */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5) !important; /* Soft shadow for depth */
    text-align: justify !important; /* Ensures the text is evenly justified */
    max-width: 600px !important; /* Limits the width of the tooltip to avoid overly long lines */
}

.tooltip-arrow {
    color: #2a3f5f !important; /* Match the arrow with the tooltip background */
}